<div class="cal-row">
  <div class="cal-date">{% if event.date_label %}{{ event.date_label }}{% elif event.date %}{{ event.date|date:'d M Y' }}{% else %}Date TBA{% endif %}</div>
  <div>
    <div class="cal-title">{{ event.title }}</div>
    {% if event.location %}<div class="cal-loc">{{ event.location }}</div>{% endif %}
    {% if event.description %}<div class="cal-loc">{{ event.description }}</div>{% endif %}
  </div>
  <span class="cal-tag">{% if event.is_confirmed %}Confirmed{% else %}To be announced{% endif %}</span>
</div>
